@model ResturentWebsite.Models.Events

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocktailWorkshope)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocktailWorkshope)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brunch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brunch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WineTasting">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
