@model ResturentWebsite.Models.Dishes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dishes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreakfastDishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreakfastDishes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunchDishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunchDishes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinnerDishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinnerDishes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Snacks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Snacks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EspacialDishes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EspacialDishes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DishID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
